@media (min-width:376px) and (max-width:767px){
    .sedan, .suv, .lux{
        text-align: center;
        position: relative;
        padding: 50px 0;
    }
    .sedan picture img,
    .suv picture img,
    .lux picture img{
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 25px;
    } 
   .sedan h1,
   .suv h1,
   .lux h1 {
    margin-top: 35px;
    margin-bottom: 10px;
   }
   .align-text{
    margin-left: 90px;
    margin-right: 90px;
    padding: 0;
    width: auto;
    display: block;
    text-align: center;
   }
   .button{
    margin-top: 10px;
   }
}
@media (max-width:376px){
    .sedan, .suv, .lux{
        text-align: start;
        position: relative;
        padding:20px 50px;
    }
    picture img{
        width: 40px;
        height: 40px;
    }
    .align-text{
        padding-top: 10px;
        padding-bottom: 0;
    }
    .button{
        margin: 0;
        border-radius: 25px;
        padding: 10px 15px;
    }
}